<%@tag description="Page template" pageEncoding="UTF-8"%>
<%@attribute name="title" required="true" type="String"%>
<%@attribute name="toast" required="false" type="String"%>
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
  <script src="https://unpkg.com/material-datetime-picker@2.4.0/dist/material-datetime-picker.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
    .appbar {
      position: fixed;
      z-index: 2;
    }

    .page {
      padding-top: 80px;
      padding-bottom: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .c-datepicker,.c-scrim{position:fixed;will-change:opacity}.c-scrim{left:0;right:0;top:0;bottom:0;background-color:rgba(0,0,0,.541176);opacity:0;transition:.2s ease opacity}.c-scrim--shown{z-index:3;opacity:1}.c-datepicker{min-height:610px;left:50%;top:45%;transform:translate(-50%,-50%);background:#fff;border:0;width:300px;text-align:center;-webkit-tap-highlight-color:transparent;box-shadow:0 14px 45px rgba(0,0,0,.25),0 10px 18px rgba(0,0,0,.22);border-radius:2px;opacity:0;transition:.2s ease-in-out opacity,.2s ease-in-out top}.c-datepicker--open{z-index:4;opacity:1;top:50%}.c-datepicker__header{box-sizing:content-box;position:relative}.c-datepicker__header-day{height:32px;background:#0097a7;color:#fff;line-height:32px;font-size:12px;font-weight:200;letter-spacing:.3px}.c-datepicker__header::after{content:"";display:table;clear:both}.c-datepicker__header-date{background:#00bcd4;height:150px;padding:16px 0}.c-datepicker__header-date span{line-height:1.2}.rd-month-label{height:56px;line-height:56px;font-size:14px;font-weight:800}.c-datepicker__back,.c-datepicker__next,.c-datepicker__toggle{position:absolute;border:0;background:#fff;font-family:'Material Icons';text-rendering:optimizeLegibility;font-feature-settings:"liga" 1;font-style:normal;text-transform:none;line-height:1;font-size:24px;width:56px;height:56px;display:inline-block;overflow:hidden;-webkit-font-smoothing:antialiased;cursor:pointer}.c-datepicker__back:focus,.c-datepicker__next:focus,.c-datepicker__toggle:focus{outline:0}.c-datepicker__back{left:0}.c-datepicker__next{right:0}.c-datepicker__back:before{content:'chevron_left'}.c-datepicker__next:after{content:'chevron_right'}.c-datepicker--show-time:after{content:'access_time';color:#fff;visibility:visible}.c-datepicker--show-calendar:after{content:'grid_on';color:#fff;visibility:visible}.c-datepicker__header-date span{display:block;color:#fff;margin:4px 0;transition:opacity .1s ease-in-out}.c-btn,.c-datepicker__header-date__time>span{display:inline-block}.c-datepicker__header-date__month{font-size:24px;opacity:.6}.c-datepicker__header-date__day{font-size:64px;opacity:.6}.c-datepicker__header-date__time{font-size:25px;opacity:.6}.c-datepicker--show-calendar.is-selected~.c-datepicker__header .c-datepicker__header-date__day,.c-datepicker--show-calendar.is-selected~.c-datepicker__header .c-datepicker__header-date__month,.c-datepicker--show-time.is-selected~.c-datepicker__header .c-datepicker__header-date__time{opacity:1}.modal-btns{padding:20px;position:absolute;bottom:0;right:0;float:right}.c-datepicker__day-body{font-size:12px;color:rgba(0,0,0,.8);width:36px;height:36px}.c-datepicker__day--selected::after{content:"";position:absolute;left:50%;top:50%;width:35px;height:35px;border-radius:50%;transform:translate(-50%,-50%);background:rgba(0,0,0,.05)}.c-datepicker__day-head{color:rgba(0,0,0,.54);font-size:12px;height:36px}.c-datepicker__clock__am-pm-toggle label:hover,.c-datepicker__clock__num--active:not(.hide-hand),.c-datepicker__clock__num:hover,.c-datepicker__day-body--active:not(.hide-hand),.c-datepicker__day-body:hover,.u-hover-ball-effect:hover{color:#fff}.c-datepicker__day-body,.c-datepicker__day-head{padding:0;text-align:center;-webkit-tap-highlight-color:transparent}.c-btn{min-width:56px;cursor:pointer}.rd-day-next-month,.rd-day-prev-month{opacity:.1;pointer-events:none}.c-datepicker__calendar{height:300px}.c-datepicker__date{position:absolute;left:0;right:0}.c-datepicker__days{margin:10px 20px;width:auto}.c-datepicker__days .c-datepicker__days-head{border:none}.c-datepicker__header-toggle{position:absolute;top:50%;color:#fff;cursor:pointer}.c-datepicker__header-toggle i{font-size:26px}.c-datepicker__header-toggle--left{left:20px}.c-datepicker__header-toggle--right{right:20px}.c-datepicker__header-toggle--inactive{opacity:.2}.c-datepicker__toggle{top:170px;width:36px;height:30px;visibility:hidden;opacity:.5;z-index:1;transition:opacity .2s ease-in-out}.c-datepicker__toggle:checked{opacity:1}.c-datepicker__toggle--right{left:initial;right:10px}.c-datepicker__toggle--left{left:10px}.c-datepicker__toggle.is-selected{opacity:1}.c-datepicker--show-calendar.is-selected~.c-datepicker__clock,.c-datepicker--show-time.is-selected~.c-datepicker__calendar{display:none}.c-datepicker__clock{position:relative;width:200px;height:200px;border-radius:50%;list-style:none;box-sizing:content-box;font-size:14px;line-height:50px;padding:160px 0 20px;margin:0 auto}.c-datepicker__clock .c-datepicker__clock__num{display:block;position:absolute;top:50%;left:50%;width:50px;height:50px;margin:-25px;z-index:98}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1){transform:rotate(0) translate(100px) rotate(0)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(270deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2){transform:rotate(30deg) translate(100px) rotate(-30deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(300deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3){transform:rotate(60deg) translate(100px) rotate(-60deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(330deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4){transform:rotate(90deg) translate(100px) rotate(-90deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(360deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5){transform:rotate(120deg) translate(100px) rotate(-120deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(390deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6){transform:rotate(150deg) translate(100px) rotate(-150deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(420deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7){transform:rotate(180deg) translate(100px) rotate(-180deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(450deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8){transform:rotate(210deg) translate(100px) rotate(-210deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(480deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9){transform:rotate(240deg) translate(100px) rotate(-240deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(510deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10){transform:rotate(270deg) translate(100px) rotate(-270deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(540deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11){transform:rotate(300deg) translate(100px) rotate(-300deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(570deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12){transform:rotate(330deg) translate(100px) rotate(-330deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands,.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12):hover~.c-datepicker__clock-hands{transform:translate(-50%,-50%) rotate(600deg)}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12).c-datepicker__clock__num--active:not(.hide-hand)~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12):hover~.c-datepicker__clock-hands .c-datepicker__hour-hand{opacity:1;background:#00bcd4}.c-datepicker__clock::before{content:"";position:absolute;top:70px;left:-20px;width:240px;height:240px;background:rgba(0,0,0,.05);border-radius:50%}.c-datepicker__clock__am-pm-toggle label,.c-datepicker__clock__num,.c-datepicker__day-body,.u-hover-ball-effect{position:relative;cursor:pointer}.c-datepicker__clock__am-pm-toggle label:before,.c-datepicker__clock__num:before,.c-datepicker__day-body:before,.u-hover-ball-effect:before{content:"";position:absolute;left:50%;top:50%;width:0%;height:0%;border-radius:50%;transform:translate(-50%,-50%);transition:width .1s ease-in-out,height .1s ease-in-out}.c-datepicker__mask:after,.c-datepicker__mask:before{content:' ';display:block;position:absolute}.c-datepicker__clock__am-pm-toggle label:hover:before,.c-datepicker__clock__num--active:not(.hide-hand):before,.c-datepicker__clock__num:hover:before,.c-datepicker__day-body--active:not(.hide-hand):before,.c-datepicker__day-body:hover:before,.u-hover-ball-effect:hover:before{background:#00bcd4;width:35px;height:35px;z-index:-1}.c-datepicker__clock-hands{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%) rotate(180deg);width:10px;height:10px;border-radius:50%;background:#0097a7}.c-datepicker__hour-hand{position:absolute;opacity:0;height:78px;width:2px;background:#00bcd4;left:4px;top:10px}.c-datepicker__clock__minutes{visibility:hidden;transform:translateY(30px) scale(.6);opacity:0}.c-datepicker__clock__hours{height:200px;margin:-69px 0 0;width:200px}.c-datepicker__mask{width:133px;height:132px;position:absolute;top:123px;left:35px;z-index:99}.c-datepicker__mask:after{width:164px;height:71px;top:33px;left:0;margin-left:-16px}.c-datepicker__mask:before{width:75px;height:158px;top:6px;left:29px;margin-top:-18px}.c-datepicker__clock--show-minutes .c-datepicker__clock__minutes{visibility:visible}.c-datepicker__clock--show-hours .c-datepicker__clock__minutes,.c-datepicker__clock--show-minutes .c-datepicker__clock__hours{visibility:hidden}.c-datepicker__clock--show-hours .c-datepicker__clock__hours{visibility:visible}.c-datepicker__clock__am-pm-toggle{position:absolute;top:0;left:10px;right:10px;height:40px;padding:20px;line-height:40px}.c-datepicker__clock__am-pm-toggle label{width:40px;position:absolute}.c-datepicker__clock__am-pm-toggle label:nth-child(1){left:0}.c-datepicker__clock__am-pm-toggle label:nth-child(2){right:0}.c-datepicker__clock__am-pm-toggle label.c-datepicker__toggle--checked::after{content:"";position:absolute;left:50%;top:50%;border-radius:50%;transform:translate(-50%,-50%);width:36px;height:36px;z-index:-1;background:rgba(0,0,0,.05)}
  </style>
  <title>Team Organizer - <%=title.toLowerCase()%></title>
</head>
<body>
    <nav class="appbar">
      <div class="nav-wrapper">
        <a href="#" data-target="slide-out" class="brand-logo sidenav-trigger" style="display: block">
          <i class="material-icons">menu</i><%=title%>
        </a>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
      <li><a href="/" class="waves-effect">Home</a></li>
      <li><a href="/offices" class="waves-effect"><i class="material-icons">domain</i>Offices</a></li>
      <li><a href="/employees" class="waves-effect"><i class="material-icons">group</i>Employees</a></li>
      <li><a href="/developers" class="waves-effect"><i class="material-icons">developer_mode</i>Developers</a></li>
      <li><a href="/officeWorkers" class="waves-effect"><i class="material-icons">computer</i>Office workers</a></li>
      <li><a href="/projects" class="waves-effect"><i class="material-icons">insert_drive_file</i>Projects</a></li>
      <li><a href="/roles" class="waves-effect"><i class="material-icons">work</i>Roles</a></li>
      <li><a href="/schedules" class="waves-effect"><i class="material-icons">calendar_today</i>Schedules</a></li>
    </ul>

    <div class="page">

      <jsp:doBody />

    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);

        elems = document.querySelectorAll('select');
        instances = M.FormSelect.init(elems);

        M.updateTextFields();

        var inputs = document.querySelectorAll('.c-datepicker-input');
        inputs.forEach(function (input) {
          var picker = new MaterialDatetimePicker()
              .on('submit', (val) => {
                input.value = val.format("DD/MM/YYYY HH:mm");
              });

          input.addEventListener('focus', () => picker.open());
        });

        var msg = "<%=toast != null ? toast : ""%>";
        if (msg) {
          M.toast({
            html: msg
          });
        }
      });
    </script>
  </body>
</html>
